.ttbs-page {
  background-size: 100% auto;
  background-position: 50% 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .card {
    border: 1px solid #f0f0f0;
    margin-bottom: 1.875rem;
  }
}
