{% import 'macros/helpers.html' as macro %}

{% extends 'layouts/layout.html' %}

{% block content %}
<div class="bg-image-light ">

    <section class="section section-space s-heading">
        <div class="container s-heading-content">
            <div class="row align-items-center s-heading-height">
                <div class="col-12 col-lg-8 mb-4">
                    <div class="banner-header text-left ">
                        <h1 class="text-primary">Danh sách Bác sĩ</h1>
                        <p class="lead text-black-50">
                            Chúng tôi có 234 Bác Sĩ
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="s-heading-bg w-100" style="background-image: url(img/bv/bg-heading.jpg)">

        </div>

    </section>

    <section class="section section-space pt-0 section-bacsi h-100">
        <div class="container">

            <div class="row justify-content-center">
                {% for item in range(0,3) %}
                {% for item in doctor %}
                <div class="col-6 col-md-3 mb-4">

                    <div class="doctor__item h-100">
                        <div class="doctor__image">
                            <a href="#" data-toggle="modal" data-target="#modal-bacsi">
                                <div class="embed-responsive embed-responsive-9by16 overflow-hidden">
                                    <img src="{{item.image}}" class="embed-responsive-img img-cover" alt="">
                                </div>
                            </a>
                        </div>


                        <div class="doctor__body">

                            <div class="doctor__name h5 text-primary">{{item.name}}</div>
                            <div class="dashed"><span></span></div>

                            <div class="doctor__title">
                                {{item.chucvu}}
                            </div>

                            <div class="doctor__meta">
                                <div class="doctor__meta__item">
                                    <span>Học vị :</span> {{item.hocvi}}
                                </div>

                                <div class="doctor__meta__item">
                                    <span>Chuyên khoa :</span> {{item.chuyenkhoa}}
                                </div>


                            </div>
                        </div>

                        <div class="doctor__footer">
                            <a class="btn btn-block f1" href="doctor-profile.html">

                                <i class="far fa-calendar-alt"></i>

                                Đặt lịch khám</a>
                            <a class="btn btn-block f2" href="booking.html">
                                <i class="far fa-question-circle"></i>
                                Gửi câu hỏi</a>
                        </div>

                    </div>

                </div>

                {% endfor %}
                {% endfor %}
            </div>

        </div>
    </section>

</div>


{% endblock %}