<!-- Header -->
<header class="header Site-header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="index.html" class="navbar-brand logo">
        <img src="http://benhvienkhuvucthuduc.vn/Content/assets/img/logo.png" class="img-fluid" alt="Logo">
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a href="index.html" class="menu-logo">
          <img src="img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li>
          <a href="index.html">Trang chủ</a>
        </li>
<!-- 
        <li>
          <a href="index.html">Giới thiệu</a>
        </li> -->


        <li>
          <a href="thongtinbacsi.html">Thông tin Bác sĩ</a>
        </li>




        <li class="has-submenu">
          <a href="#">Dịch vụ<i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="doctor-dashboard.html">Hỏi Bác sĩ</a></li>
            <li><a href="appointments.html">Xem kết quả xét nghiệm</a></li>
            <li><a href="schedule-timings.html">Xem toa thuốc</a></li>
            <li><a href="my-patients.html">Đặt lịch khám Bác sĩ</a></li>
            <li><a href="patient-profile.html">Đóng tiền viện phí</a></li>
          </ul>
        </li>


        <!-- <li class="login-link">
          <a href="login.html">Login / Signup</a>
        </li> -->
      </ul>
    </div>
    <ul class="nav header-navbar-rht">
      <li class="nav-item contact-item">
        <div class="header-contact-img">
          <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
          <p class="contact-header">Liên hệ</p>
          <p class="contact-info-header"> <a href="tel: (028) 3722 3556"> (028) 3722 3556</a>
          </p>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link header-login" href="#" data-toggle="modal" data-target="#modal-login">Đăng nhập </a>
      </li>

      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow logged-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img">
            <img class="rounded-circle" src="img/doctors/doctor-thumb-02.jpg" width="31" alt="Darren Elder">
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">

          <div class="user-header">
            <div class="avatar avatar-sm">
              <img src="img/doctors/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
            </div>

            <div class="user-text">
              <div><strong>Nguyễn Văn A</strong></div>
              <p class="text-muted mb-0">Bác sĩ</p>
            </div>
          </div>
          <a class="dropdown-item" href="doctor-dashboard.html">Quản lý</a>
          <a class="dropdown-item" href="doctor-profile-settings.html">Tùy chọn</a>
          <a class="dropdown-item" href="login.html">Thoát</a>
        </div>
      </li>
      <!-- /User Menu -->
    </ul>
  </nav>
</header>
<!-- /Header -->