<!-- Modal -->
<div class="modal fade   " id="modal-login" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-6 bg-img rounded-left m-h-60 d-none d-sm-block"
                        style="background-image: url('http://benhvienkhuvucthuduc.vn/Content/assets/img/healthcare/NoiKhoa.jpg')">

                    </div>
                    <div class="col-md-6 py-5 px-sm-5 my-auto ">

                        <h3 class="pt-sm-3 mb-5">Đăng nhập hệ thống</h2>
                        <!-- <p class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p> -->
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên đăng nhập</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Tên đăng nhập">

                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu</label>
                                <input type="password" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Mật khẩu">

                            </div>

                            <div class="form-check">
                                <label>
                                    <label class="form-check-label" for="RememberMe"><input class="form-check-input"
                                            data-val="true"
                                            data-val-required="The Ghi nhớ đăng nhập ? field is required."
                                            id="RememberMe" name="RememberMe" type="checkbox" value="true"><input
                                            name="RememberMe" type="hidden" value="false">Ghi nhớ đăng nhập ?</label>
                                    <span class="field-validation-valid" data-valmsg-for="RememberMe"
                                        data-valmsg-replace="true"></span>

                                </label>


                            </div>

                            <button type="submit" class="btn btn-primary btn-block  mt-4" data-dismiss="modal"
                                aria-label="Close">Đăng nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->